!-- Xft settings -- !
Xft.dpi: 96
Xft.antialias: True
Xft.rgba: Rgb
Xft.hinting: Full 

!-- URxvt settings !
URxvt.geometry: 86x42
URxvt.urgentOnBell: off
URxvt.visualBell: off
URxvt.meta8: true
URxvt.depth: 32
URxvt*urlLauncher: firefox

URxvt.internalBorder: 0
URxvt.externalBorder: 0

URxvt.scrollBar: off
URxvt.scrollbar_right: false
URxvt.scrollstyle: plain
URxvt.saveLines: 1024
URxvt.scrollTtyOutput:   false
URxvt.scrollWithBuffer:  true
URxvt.scrollTtyKeypress: true
URxvt*scrollColor: #323232
URxvt*cursorColor: #eeeeee

URxvt*foreground: #ffffff
URxvt*background: rgba:0000/0000/1111/dddd
URxvt.font: xft:Inconsolata for Powerline:size=19:antialias=true:hinting=true

! Disable screen printing by overriding the default print pipe.
URxvt.print-pipe: "cat >/dev/null"

URxvt.keysym.Shift-Up:          \033[1;2A
URxvt.keysym.Shift-Down:        \033[1;2B
URxvt.keysym.Shift-Right:       \033[1;2C
URxvt.keysym.Shift-Left:        \033[1;2D
URxvt.keysym.Control-b:         \002
URxvt.keysym.Control-c:         \003
URxvt.keysym.Control-r:         \022
URxvt.keysym.Control-v:         \026
URxvt.keysym.Control-Up:        \033[1;5A
URxvt.keysym.Control-Down:      \033[1;5B
URxvt.keysym.Control-Left:      \033[1;5D
URxvt.keysym.Control-Right:     \033[1;5C
URxvt.keysym.Control-Page_Up:   \033[5;5~
URxvt.keysym.Control-Page_Down: \033[6;5~

URxvt.clipboard.autocopy: true
URxvt.clipboard.pastecmd: xsel -ob
URxvt.clipboard.copycmd:  xsel -ib

URxvt.color0: #17171A1A1B1B
URxvt.color1: #CCCC00000000
URxvt.color2: #4E4E9A9A0606
URxvt.color3: #C4C4A0A00000
URxvt.color4: #34346565A4A4
URxvt.color5: #757550507B7B
URxvt.color6: #060698209A9A
URxvt.color7: #D3D3D7D7CFCF
URxvt.color8: #555557575353
URxvt.color9: #EFEF29292929
URxvt.color10: #8A8AE2E23434
URxvt.color11: #FCFCE9E94F4F
URxvt.color12: #72729F9FCFCF
URxvt.color13: #ADAD7F7FA8A8
URxvt.color14: #3434E2E2E2E2
URxvt.color15: #EEEEEEEEECEC

